# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store

# Data (don’t upload raw dataset)
data/raw/

# Results
src/results/

# Models
*.keras
*.h5
